
// Instalar json-server versión 0.17.4 como dependencia de desarrollo
// npm i json-server@0.17.4 --save-dev

// Agregar Angular Material al proyecto Angular
// ng add @angular/material

// Instalar paquetes para internacionalización con ngx-translate
// npm i @ngx-translate/core @ngx-translate/http-loader


// Crear un nuevo componente Angular
// ng g c "nombre-de-componente"   // "g" es short para "generate", "c" para componente

// Crear package environments (archivos de configuración de entornos)
// ng g environments

// Crear un modelo (clase) en el package models
// ng g cl nombre.entity   // "cl" para clase

// Crear un servicio en Angular dentro del package services
// ng g s nombreC          // "s" para servicio


// para inicar db.json -> sh start.sh


<mat-toolbar color="primary">
  <div class="toolbar-content">
    <h1 class="logo">Emper</h1>

    <div class="right-group">
      @for (option of options; track option.label) {
        <a mat-button [routerLink]="option.link" routerLinkActive="active">
          {{ option.label | translate }}
        </a>
      }
      <app-language-switcher/>
    </div>
  </div>
</mat-toolbar>
<router-outlet/>
